<div class="chat">
  <div class="chat_top">
    <div class="user_name">
    <%= message.user.name%>

    </div>
    <div class="date">
    <%= l message.created_at%>

    </div>
  </div>
  <div class="chat_bottom">
    <div class="message">
    <%= message.content%>

    </div>
  </div>
</div>